// Body
$body-bg: #f8fafc;

// Typography
//* Fonts

// Nunito
@import url("https://fonts.googleapis.com/css?family=Nunito");
$font-family-sans-serif: "Nunito", sans-serif;

//Font for buttons (Used on admin-users atm)
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
$font-russo: "Russo One";

//Roboto font (Used for World Data Box)
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
$font-roboto: "Roboto", sans-serif;

//Allerta font (Used for banner)
@import url("https://fonts.googleapis.com/css2?family=Allerta&display=swap");
$font-allerta: "Allerta", sans-serif;

$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// our Palette: https://coolors.co/393d69-27293f-7a7fb8-afb3d4-edebd7-fecef1
$palette_one: #393d69;
$palette_two: #27293f;
$palette_three: #7a7fb8;
$palette_four: #afb3d4;
$palette_five: #edebd7;
$palette_six: #fecef1;
$palette_seven: #abadc4;
$palette_eight: #ebebeb;

//* our variables
$main_bgc: #001a3b;
$lighter_bgc: #393d69;
$font_color: #edebd7;
