//* Write variables in _variables.scss and then import them to your file
@import "variables";

main {
    margin: 0;
}
h1 {
    margin-bottom: 4rem;
    font-size: 5rem;
}
section {
    article {
        margin: auto;
        text-align: center;
        width: 80%;
        margin-bottom: 4rem;
        border-radius: 20px;
        padding: 0.5rem;
        padding-top: 3rem;
        position: relative;
        img {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            position: absolute;
            margin-left: -50px;
            top: -50px;
        }
    }

    .light {
        background-color: #002352;
    }

    .dark {
        background-color: #031731;
    }
}
