//* Write variables in _variables.scss and then import them to your file
@import "variables";

//* Resets
* {
    box-sizing: border-box;
}

*:not(input) {
    margin: 0;
    padding: 0;
}

//* General CSS
body {
    background-color: $main_bgc;
    color: $font_color;
}

main {
    margin: 1rem;
}