@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css2?family=Russo+One&display=swap);@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap);

main {
  margin: 0;
}

section article {
  margin: auto;
  text-align: center;
  width: 80%;
  margin-bottom: 2rem;
}

section article img {
  border-radius: 50%;
  width: 20%;
  height: 20%;
}

section .light {
  background-color: #002352;
}

section .dark {
  background-color: #031731;
}

