@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css2?family=Russo+One&display=swap);@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap);@import url(https://fonts.googleapis.com/css2?family=Allerta&display=swap);.card-header {
  background-color: rgba(14, 13, 13, 0.767);
  font-family: "Russo One";
  font-size: 1rem;
}

.card-body {
  background-color: rgba(255, 255, 255, 0.609);
  color: black;
}

