/* --------- Charts --------- */

#charts #continent {
  display: none !important;
}

#charts #continentMobile {
  width: 100%;
}

/* --------- Posts --------- */

#posts {
  margin-top: 2rem;
  text-align: center;
}

#posts article {
  max-width: 80%;
  margin: 1rem auto;
  background-color: #393d69;
  border-radius: 10px;
  overflow: hidden;
}

#posts article h3 {
  text-decoration: underline;
  margin: 0.5rem;
}

#posts article img {
  margin: 0 0 1rem 0;
  width: 100%;
  height: 10rem;
  /* object-fit: cover; */
}

#posts article .like-comment {
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

#posts article .like-comment .fa-thumbs-up {
  padding-right: 0.3rem;
  position: relative;
  bottom: 1.5px;
}

@media screen and (min-width: 600px) {
  #posts {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
  }

  #posts article {
    max-width: 30%;
  }
}

@media screen and (min-width: 1020px) {
  main {
    display: flex;
    justify-content: space-between;
  }

  main #left {
    width: 60%;
  }

  main #left #charts {
    /* width: 70%; */
  }

  main #left #charts #continent {
    display: block !important;
  }

  main #left #charts #continentMobile {
    display: none !important;
  }

  main #left #rss {
    width: 30%;
  }
}

