@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css2?family=Russo+One&display=swap);@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap);@import url(https://fonts.googleapis.com/css2?family=Allerta&display=swap);/* --------- Mobile --------- */

h2 {
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.maincontainer {
  background-color: #393d69;
  border-radius: 10px;
  padding: 0 0.8rem 0.8rem 0.8rem;
  width: 98%;
  margin: auto;
  text-align: center;
  /* img {
      margin-right: 0.5rem;
      width: 45%;
  } */
}

.maincontainer h5 {
  text-align: left;
  padding: 0.5rem 0 0.5rem 0;
  font-size: 0.9rem;
}

.maincontainer .article-image {
  width: 45%;
  min-height: 20rem;
  margin-right: 0.5rem;
  background-size: cover;
  background-position: center;
}

.maincontainer p {
  background-color: #abadc4;
  color: #131B23;
  line-height: 1.2rem;
  text-align: left;
  padding: 1rem;
  border-radius: 10px;
}

.articlebody {
  display: flex;
  justify-content: space-between;
}

.articlebody .articlecontent {
  width: 50%;
}

.articlefooter {
  display: flex;
  justify-content: space-between;
}

.articlefooter .maininfo {
  width: 15%;
  display: flex;
  justify-content: start;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */
}

.articlefooter .maininfo span {
  padding: 0.6rem 0 0.2rem;
  min-width: 3rem;
}

.articlefooter .maininfo button {
  padding-bottom: 0;
}

.articlefooter .maininfo button i {
  padding-bottom: 0;
}

.articlefooter .maininfo #report {
  padding-top: 0.7rem;
}

.articlefooter .maininfo #report:hover {
  color: red;
}

.articlefooter .maininfo a:link {
  text-decoration: none;
  color: #edebd7;
}

.articlefooter .maininfo a:visited {
  text-decoration: none;
  color: #edebd7;
}

.articlefooter .maininfo a:hover {
  text-decoration: none;
  color: red;
}

.articlefooter .maininfo a:active {
  text-decoration: none;
  color: #edebd7;
}

.articlefooter .authoraccess {
  display: flex;
  justify-content: center;
}

.articlefooter .authoraccess #editbg,
.articlefooter .authoraccess #delete {
  background-color: #7a7fb8;
  color: #edebd7;
  font-size: 0.8rem;
  padding: 0.3rem;
  border-radius: 3px;
  text-decoration: none;
  margin: 0.5rem 0.5rem 0 0.5rem;
}

.articlefooter .authoraccess #editbg:hover,
.articlefooter .authoraccess #delete:hover {
  background-color: #27293f;
  color: #7a7fb8;
}

.reportedmsg {
  text-align: center;
}

.reportedmsg i {
  color: red;
}

.commentscontainer {
  width: 98%;
  margin: auto;
  text-align: center;
}

.commentscontainer ul {
  background-color: #abadc4;
  text-align: left;
  list-style-type: none;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 5px;
}

.commentscontainer ul li {
  background-color: #ebebeb;
  border-radius: 10px;
  color: black;
  margin: 0.5rem;
  padding: 0.5rem;
}

.commentscontainer ul li div {
  font-weight: bolder;
  padding-bottom: 0;
  margin-bottom: 0;
}

.commentscontainer .newcomment {
  width: 60%;
  margin-top: 1rem;
}

button {
  display: inline-block;
  border: none;
  padding: 0.5rem 0.8rem;
  margin: 0;
  text-decoration: none;
  background: transparent;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #7A7FB8;
}

button:active {
  transform: scale(0.99);
}

/* .maininfo {
    button:hover {
        text-decoration: none;
        color: red;
    }
} */

/* --------- Tablet view --------- */

@media screen and (min-width: 600px) {
  .maincontainer {
    width: 90%;
    margin: auto;
  }

  .articlebody {
    display: flex;
    justify-content: space-around;
  }

  .articlebody .articlecontent {
    width: 65%;
  }

  .authoraccess {
    display: flex;
    justify-content: flex-end;
  }

  .maininfo {
    width: 15%;
    margin: auto auto auto 0.5rem;
    display: flex;
    justify-content: flex-start;
  }

  .commentscontainer {
    width: 90%;
    margin: auto;
  }

  .commentscontainer .newcomment {
    width: 70%;
  }
}

/* --------- Desktop view --------- */

@media screen and (min-width: 1020px) {
  .maincontainer {
    width: 70%;
    margin: auto;
  }

  .commentscontainer {
    width: 70%;
    margin: auto;
  }
}

